.container{
    background-color: bisque;
    text-align: center;
    padding: 9px;
    text-align: center;
   
}
h1:hover{
    background-color: skyblue;
}
@keyframes softwaredeveloper {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  #software{
    animation: softwaredeveloper 5s 2s ;
  }
  
.footer{
    background-color: rgb(107, 101, 101);
    color: white;
    padding: 5px;
    text-align: center;

}
.table{
    background-color: skyblue;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px
};
img{
    border-radius: 50%;
}